@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

/*NAVBAR*/

.Menu {
  background: linear-gradient(to left, #ac48f7, #71c5e1);
  position: relative;
  width: 100%;
}

/*BANNER*/
.Banner {
  background-size: cover;
  background-position: center;
  height: 90vh;
}

/*SKILLS*/
.Skills {
  background: linear-gradient(to left, #ac48f7, #71c5e1);
}

/*PROJECT*/
.Project {
  text-align: center;
  margin: 40px 0;
}

/*FOOTER*/
.Footer {
  background: linear-gradient(to left, #ac48f7, #71c5e1);
  padding: 40px;
  text-align: center;
  color: white;
}

/* CSS ATÉ 768 */
@media (min-width: 768px) {
  .Banner{
    height: 100vh;
  }
}

/* CSS ATÉ 1024 */
@media (min-width: 1024px) {
  .Menu{
    position: fixed;
    z-index: 1;
  }

  .Banner{
    height: 90vh;
  }
}

@media (min-width: 1440px) {
  .Project{
    margin: 80px 0;
  }
}
